<div class="paging8 paging8-top"><div class="col-xs-2"></div>
    {{ top_pager_array.current_page_title|raw }}
    <div class="paging8-next paging8-next-full col-xs-2">
        <a href="{{ top_pager_array.path_alias ~ top_pager_array.next_page_arg }}">
            <div class="mobile-slider">Next </div> >
        </a>
    </div>
</div>